.card{
    height: 420px;
}
.card-title{
    color: hsl(180, 59%, 32%);
}
.card:hover{
    transform: scaleY(1.02);
    transition: .5s;
}

.tech-bg span{
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    
}
.image{
    height: 300px;
}